In [1]:
import sqlite3
import pandas as pd
import numpy as np
def sqlToDf(tableName):
    conn = sqlite3.connect('hashtags.sqlite3')
    sql_query = pd.read_sql_query (f'''
                                   SELECT * FROM {tableName}
                                   ''', conn)
    df = pd.DataFrame(sql_query, columns = ['tag', 'link','page','date','img', 'posts'])
    df['date']= pd.to_datetime(df['date'])
    df['posts'] = df['posts'].replace(',','',regex=True)
    df = df.replace('None', np.nan).dropna()
    df['posts'] = df['posts'].astype(float)
    df=df.dropna()
    return df

In [2]:
df=sqlToDf("hashtag__12_03_23")

In [3]:
df

,tag,link,page,date,img,posts
0,#Viewall50k,/explore/tags/viewall50k/,/sonu_editor_number_1__/,2023-03-06 03:31:30+00:00,https://instagram.flko6-1.fna.fbcdn.net/v/t51....,72.0
2,#abhimanyubirla,/explore/tags/abhimanyubirla/,/lost_in_abhira/,2023-03-09 03:17:20+00:00,https://instagram.flko6-1.fna.fbcdn.net/v/t51....,325116.0
3,#abhira,/explore/tags/abhira/,/sheencreates/,2023-03-09 01:31:58+00:00,https://instagram.flko6-1.fna.fbcdn.net/v/t51....,680527.0
4,#abhira,/explore/tags/abhira/,/lost_in_abhira/,2023-03-09 03:17:20+00:00,https://instagram.flko6-1.fna.fbcdn.net/v/t51....,680527.0
5,#abhirakishaadi,/explore/tags/abhirakishaadi/,/lost_in_abhira/,2023-03-09 03:17:20+00:00,https://instagram.flko6-1.fna.fbcdn.net/v/t51....,113141.0
...,...,...,...,...,...,...
185,#yehhaichahatein,/explore/tags/yehhaichahatein/,/sheencreates/,2023-03-09 01:31:58+00:00,https://instagram.flko6-1.fna.fbcdn.net/v/t51....,419322.0
186,#yehhaimohabbatein,/explore/tags/yehhaimohabbatein/,/lost_in_abhira/,2023-03-09 03:17:20+00:00,https://instagram.flko6-1.fna.fbcdn.net/v/t51....,334676.0
187,#yehrishtakyakehlatahai,/explore/tags/yehrishtakyakehlatahai/,/lost_in_abhira/,2023-03-09 03:17:20+00:00,https://instagram.flko6-1.fna.fbcdn.net/v/t51....,1560061.0
188,#yehrishtakyakehlatahai,/explore/tags/yehrishtakyakehlatahai/,/sheencreates/,2023-03-09 01:31:58+00:00,https://instagram.flko6-1.fna.fbcdn.net/v/t51....,1560061.0
189,#yrkkh,/explore/tags/yrkkh/,/lost_in_abhira/,2023-03-09 03:17:20+00:00,https://instagram.flko6-1.fna.fbcdn.net/v/t51....,2041869.0

In [4]:
import sqlite3
con = sqlite3.connect(r'../hashtags.sqlite3')
def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute('SELECT name from sqlite_master where type= "table"')
    return  [name[0] for name in cursorObj.fetchall() if '__' in name[0]]

In [7]:
print(sql_fetch(con));

['hashtag__16_01_23', 'hashtag__05_02_23', 'hashtag__26_02_23', 'hashtag__04_03_23', 'hashtag__05_03_23', 'hashtag__12_03_23']

In [ ]:
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
import numpy as np

In [ ]:
def sqlToDf(tableName):
    conn = sqlite3.connect('hashtags.sqlite3')
    sql_query = pd.read_sql_query (f'''
                                   SELECT * FROM {tableName}
                                   ''', conn)
    df = pd.DataFrame(sql_query, columns = ['tag', 'link','page','date','img', 'posts'])
    df['date']= pd.to_datetime(df['date'])
    df['posts'] = df['posts'].replace(',','',regex=True)
    df = df.replace('None', np.nan).dropna()
    df['posts'] = df['posts'].astype(float)
    df=df.dropna()
    return df

In [ ]:
sql_fetch(con)

In [ ]:
all_insta_tables = []
for name in sql_fetch(con):
    all_insta_tables.append(sqlToDf(name))
idf = pd.concat(all_insta_tables)

In [ ]:
idf

In [ ]:
# idf.sort_values(by='posts', inplace=True)
fig = px.bar(idf[:50], x='tag', y='posts', log_y=True,)

In [ ]:
idf.tag

In [ ]:
idf.posts

In [ ]:
idf

In [ ]:
date_df = idf.groupby('date')['posts'].sum()
px.ecdf(date_df, date_df.index, 'posts')

In [ ]:
date_df.values

In [ ]:
px.funnel_area(date_df, date_df.index, 'posts')

In [ ]:
# px.Figure([go.Scatter(x=df['Date'], y=df['AAPL.High'])])
date_df.info()

In [ ]:
date_df

In [ ]:
px.area(date_df)

In [ ]:
px.histogram(date_df, x=date_df.index, y="posts", histfunc="avg", title="Histogram on Date Axes")

In [ ]:
import plotly.graph_objects as go
#
# fig = go.Figure()
# fig.add_trace(go.Bar(
#     x=["2020-01-01", "2020-04-01", "2020-07-01"],
#     y=[1000, 1500, 1700],
#     xperiod="M3",
#     xperiodalignment="middle",
#     xhoverformat="Q%q",
#     hovertemplate="%{y}%{_xother}"
# ))

In [ ]:
fig.add_trace(go.Scatter(
    x=date_df.index,
    y="posts",
    xperiod="M1",
    xperiodalignment="middle",
    hovertemplate="%{y}%{_xother}"
))

In [ ]:
date_df.info()

In [ ]:
pd.Series(date_df.posts)

In [ ]:
date_df.icol(2)

In [ ]:
px.area(date_df, date_df.index, 'posts')

In [ ]:
px.scatter(date_df, date_df.index, 'posts')

In [ ]:
px.line_geo(date_df, date_df.index, 'posts')

In [ ]:
date_w_post = idf.groupby('date')['posts'].sum().reset_index()

In [ ]:
date_w_post

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_validate
from datetime import date

In [ ]:
X = date_w_post[['date']].copy()
y = date_w_post['posts']
X['ord'] = X.date.apply(lambda d: date.toordinal(d))
# X['year'] = X['date'].apply(lambda x: x.year)
# X['month'] = X['date'].apply(lambda x: x.month)
# X['day'] = X['date'].apply(lambda x: x.day)
# X['hour'] = X['date'].apply(lambda x: x.hour)
# X['minute'] = X['date'].apply(lambda x: x.minute)
X.drop(columns=['date'], inplace=True)

In [ ]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size=.2)
reg = GradientBoostingRegressor()
reg2 = LinearRegression()
cv1 = cross_validate(reg, X, y, cv=3, n_jobs=-1)
cv2= cross_validate(reg2, X, y, cv=3, n_jobs=-1)
print(cv1['test_score'])
print(cv2['test_score'])

In [ ]:
px.bar(y=[cv1['test_score'], cv2['test_score']])

In [ ]:
px.scatter(x=X['ord'],y=y)

In [ ]:
px.bar( x='tag', y='date' )

In [ ]:
idf

In [ ]:
tagdf = idf.groupby('tag')['posts'].sum().reset_index()
tagdf.sort_values(by='posts',ascending=False,inplace=True)
fig = px.pie(tagdf[:10], 'tag', 'posts' )
fig

In [ ]:
fig = px.bar(tagdf[:50], x='tag', y='posts', log_y=True, )
fig.up

In [ ]:
weekdf = idf.groupby(idf.date.dt.weekday)['tag'].count().reset_index()
px.line(weekdf, 'date', 'tag', title='Posts vs Day of the week')

In [ ]:
rng = pd.date_range('1/6/2014',periods=169,freq='H')
graph = pd.Series(np.random.randn(168), index=rng[:168])
ax = graph.plot()

weekday_map= {0:'MON', 1:'TUE', 2:'WED', 3:'THU',
              4:'FRI', 5:'SAT', 6:'SUN'}

xs = sorted(ax.get_xticks(minor='both'))
wd = graph.index[xs - xs[0]].map(pd.Timestamp.weekday)

In [ ]:
ax.set_xticks(xs)
ax.set_xticks([], minor=True)
ax.set_xticklabels([weekday_map[d] for d in wd])

In [ ]:
ax

In [ ]:
rng = pd.date_range('1/6/2014',periods=169,freq='H')
graph = pd.Series(np.random.randn(168), index=rng[:168])
ax = graph.plot()

In [ ]:
weekday_map= {0:'MON', 1:'TUE', 2:'WED', 3:'THU',
              4:'FRI', 5:'SAT', 6:'SUN'}

xs = sorted(ax.get_xticks(minor='both'))
wd = graph.index[xs - xs[0]].map(pd.Timestamp.weekday)

ax.set_xticks(xs)
ax.set_xticks([], minor=True)
ax.set_xticklabels([weekday_map[d] for d in wd])